<div class='container'>    
  <div class='row'>
	  <div class='span13'>
 <h4>Create a new user in the system</h4><br/>  
	
<%= form_for (@person), :html => {:class => 'form-horizontal'} do |f| %>
  	 <h1>Profile Information</h4>
      <span><em>Who this person is and how they will access the system</em></span><br/><br/><br/>
 	   <%= render :partial => 'person_form', :locals => { :f => f } %>	
<% end %>
</div>
</div>
</div>
