<%= render :partial => 'edit_activity_form',  :locals => { :person => @person, :object => @person_time }  %>     

	<%= render :partial => 'activities', :locals => { :activities => @activities } %>

</div>
